body, h2, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

#logo h2 {
    font-size: 2.5rem;
    margin: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-input {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
    border-radius: 30px 0 0 30px;
}

.search-button {
    padding: 10px 20px;
    background-color: #6c63ff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #4c43c2;
}

